html, body
{
	margin: 0px;
	padding: 0px;
	/*background-color: lightblue;*/
}

section 
{
	display: flex;
}

.container, .photo 
{
	width: 50%;
}

.container
{
	display: flex;

}

form
{
	width: 100%;
	padding-left: 5px;
}

.identifiant
{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-bottom: 8%;
}

h1
{
	text-align: center;
	margin-bottom: 7%;

}

input[type=text], input[type=password]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.imgcontainer {
  text-align: center;
  margin-bottom: 24px;
  
}

button {
  background-color: #58a1f5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
 }

.btn:hover
{
	background-color: #0ed145;
}

.container2
{
	display: flex;
	justify-content: space-between;
	align-items:  center;
	padding: 0 8px 0 8px;
	width: 90%;
}

footer
{
	margin-top: 20%;
	margin-left: 10%;
}

/* info-bulle */

.info {
  position: relative;
  padding: 32px 32px;
  clip-path: circle(4% at 96.5% 25%);
  transition: all ease-in-out .4s;
  background-color: #58a1f5;
}
.infoicon {
  position: absolute;
  top: 20px;
  right: 28px;
  font-size: 1.2em;
  color: #ffffff;
  transition: ease-out .4s;
}
.titre_id {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.8;
}
.description {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.6;
}

.reference {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #0099ff;
  text-decoration: none;
  transition: ease-in 0.3s;
}
.reference:hover {
  border-bottom-color: #0099ff;
}
.info:hover, .info:focus {
  clip-path: circle(75%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  outline: none;
}
.info:hover .infoicon, .info:focus .infoicon {
  opacity: 0;
}
.info:focus {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08), 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}
